.mat-primary,
.mat-accent {
  &.mat-raised-button,
  &.mat-flat-button,
  &.mat-fab,
  &.mat-mini-fab {
    .mat-button-wrapper {
      color: $button-font-color;
    }
  }
}

.mat-button-base {
  border-radius: 24px !important;

  &.btn {
    height: 52px !important;

    .mat-icon {
      position: relative;
      top: -1px;
    }
  }
}
