.pointer {
  cursor: pointer;
}

@mixin sizes() {
  @for $i from 1 through 12 {
    .hpx-#{($i * 8)} {
      height: #{($i * 8)}px;
    }
    .wpx-#{($i * 8)} {
      width: #{($i * 8)}px;
    }
    .lhpx-#{($i * 8)} {
      line-height: #{($i * 8)}px;
    }
  }
}

@include sizes();
