.mat-form-field.medium {
  font-size: 20px;

  .mat-form-field-label-wrapper {
    .mat-form-field-label {
      .mat-icon {
        font-size: 26px !important;
        margin-top: -1px;
        vertical-align: top;
      }
    }
  }
}
