table.color-table {
  tbody {
    tr:nth-child(even) {
      background-color: rgba($color: $primary, $alpha: 0.1);
    }
  }
}

.report-table.table-container {
  max-height: 450px;
  overflow: auto;

  table {
    min-width: 1000px !important;

    tr.mat-header-row {
      height: 48px;
    }

    tr.mat-row {
      height: 36px;
    }

    tr.mat-footer-row {
      td {
        color: inherit !important;
        font-size: inherit !important;
      }
    }

    .badge {
      padding: 4px 8px;
      border-radius: 20px;
      display: inline-block;
    }
  }
}
