@import 'variables';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/grid';

@import 'partials';

.pointer {
  cursor: pointer;
}

.container,
.container-fluid {
  box-sizing: border-box;
}

.add-contact-container {
  .iti.iti--allow-dropdown {
    display: block;
  }

  .iti__country-list {
    position: fixed !important;
  }
}
